.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  background: @grey-lightest;
  cursor: pointer;
  &:hover {
    background: @grey-light;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);

    .button__close,
    .button__next {
      display: block;
    }

    .card__additional-content {
      background: @grey-light;
    }
  }

  .button__close,
  .button__next {
    display: none;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 20px;
  }

  .button__close {
    top: 20px;
    background: url("../assets/cross.svg") no-repeat;
  }

  .button__next {
    bottom: 20px;
    background: url("../assets/next.svg") no-repeat;
  }

  &__additional-content {
    padding: 20px;
    margin: -20px;
    border-radius: 20px;
    background: @grey-lightest;
  }

  &__title-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    .card__title {
      font-size: calc(0.875rem + ((1vw - 3.75px) * 1.0091));
      font-weight: bold;
    }

    .card__icon-container {
      width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      margin-right: 18px;

      .card__icon {
        width: 48px;

        &-stats {
          height: 23px;
          background: url("../assets/stats.svg") no-repeat;
        }
        &-key {
          height: 45px;
          background: url("../assets/key.svg") no-repeat;
        }
        &-robot-cleaner {
          height: 29px;
          background: url("../assets/robot-cleaner.svg") no-repeat;
        }
        &-router {
          height: 46px;
          background: url("../assets/router.svg") no-repeat;
        }
        &-thermal {
          height: 48px;
          background: url("../assets/router.svg") no-repeat;
        }
        &-ac {
          height: 41px;
          background: url("../assets/air-conditioner.svg") no-repeat;
        }
        &-music {
          height: 48px;
          background: url("../assets/music.svg") no-repeat;
        }
        &-fridge {
          height: 48px;
          background: url("../assets/fridge.svg") no-repeat;
        }
        &-battery {
          height: 25px;
          background: url("../assets/battery.svg") no-repeat;
        }
        &-cam {
          height: 36px;
          background: url("../assets/camera.svg") no-repeat;
        }
        &-kettle {
          height: 48px;
          background: url("../assets/kettle.svg") no-repeat;
        }
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    &__source,
    &__time {
      font-size: calc(0.75rem + ((1vw - 3.75px) * 0.6054));
    }
  }

  &__description {
    font-size: calc(1.125rem + ((1vw - 3.75px) * 0.2018));
  }

  &_type_critical {
    color: @white;
    background: @red;
    &:hover {
      background: @red;
    }

    .card__additional-content {
      margin-top: 20px;
      color: @grey-dark;
    }
  }

  &__data {
    .image {
      width: 100%;
      border-radius: 20px;
    }

    .graph__image {
      margin-top: 40px;
    }

    .camera__container {
      margin-top: 30px;
      overflow: hidden;
      border-radius: 20px;

      .camera__image {
        transform: scale(1) translate(0);
        filter: brightness(100%);
      }
    }

    .camera__controls {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      font-size: 12px;
    }

    .thermal__container {
      margin-top: 22px;
      display: flex;
      font-size: calc(0.875rem + ((1vw - 3.75px) * 0.4036));

      .thermal__temperature {
        margin-right: 52px;
      }

      .thermal__value {
        font-weight: bold;
      }
    }

    .track__container {
      margin-top: 25px;

      .track__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }

      .track__image {
        width: 52px;
        height: 52px;
      }

      .track__panel {
        flex-grow: 1;
        margin-left: 15px;
      }

      .track {
        margin-bottom: 10px;
        font-size: calc(1.125rem + ((1vw - 3.75px) * 0.2018));

        &__controls {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-text {
            font-size: 14px;
            color: @grey;
          }
        }

        &__length-control {
          flex-grow: 1;
          height: 0;
          margin-right: 16px;
          border: 1px solid @grey;
          -webkit-appearance: none;
          outline: none;
          &::-webkit-slider-thumb {
            .length-range-thumb();
          }
          &::-moz-range-thumb {
            .length-range-thumb();
          }
          &::-ms-thumb {
            .length-range-thumb();
          }
        }

        &__previous,
        &__next {
          width: 52px;
          height: 52px;
          background: url("../assets/prev.svg") no-repeat;
        }

        &__next {
          transform: rotate(180deg);
          margin-left: 27px;
        }

        &__volume-control {
          height: 4px;
          flex-grow: 1;
          margin: 0 20px;
          background: rgba(216,216,216,0.30);
          border-radius: 2px;
          -webkit-appearance: none;
          outline: none;
          &::-webkit-slider-thumb {
            .volume-range-thumb();
          }
          &::-moz-range-thumb {
            .volume-range-thumb();
          }
          &::-ms-thumb {
            .volume-range-thumb();
          }
        }
      }
    }

    .buttons__container {
      display: flex;
      margin-top: 50px;

      .button {
        width: 132px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: @grey-control;
        font-size: 20px;
        font-weight: bold;

        &__0 {
          margin-right: 18px;
          background: @yellow;
        }
      }
    }
  }

  &_size_l {
    grid-column: span 4;
    grid-row: span 3;

    .card__description {
      font-size: calc(1.125rem + ((1vw - 3.75px) * 0.6054));
    }
  }

  &_size_m {
    grid-column: span 3;
  }

  &_size_s {
    grid-column: span 2;

    .card__info {
      flex-direction: column;

      .card__source {
        margin-bottom: 20px;
      }
    }
  }
}
