.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  border-radius: 20px;
  background: @grey-light;
  cursor: pointer;

  &__content {
    padding: 20px;
  }

  &__additional_content {
    border-radius: 20px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__source,
  &__time {
    font-size: 18px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__description {
    font-size: 20px;
  }

  &_type_critical {
    background: @red;
  }

  &__data {
    .graph__icon {
      width: 100%;
      height: 19em;
      background: url("../assets/graph.svg") no-repeat;
      .contain-img();
      border-radius: 20px;
    }
  }

  .image {
    width: 100%;
    height: 19em;
    background: url("../assets/graph.svg") no-repeat;
    .contain-img();
    border-radius: 20px;
  }

  .camera__image {
    width: 100%;
    height: 19em;
    background: url("../assets/camera.png");
    border-radius: 20px;
  }

  &_size_l {
    grid-column: span 3;

    .card__description {
      font-size: 24px;
    }
  }

  &_size_m {
    grid-column: span 2;
  }

  &_size_s {
    grid-column: span 1;
  }
}