.cards {
  max-width: 1024px;
  margin: 35px 20px;
  justify-self: center;

  &__title {
    margin-bottom: 32px;
    font-size: calc(1.5rem + ((1vw - 3.75px) * 1.2109));
    font-weight: bold;
    text-align: left;
  }

  &__container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
}
